html {
  font-family: "Anek Latin", sans-serif;
}
.images {
  width: 100%;
  height: 400px !important;
}
.text {
  text-align: center;
  margin-top: 5px;
}
.header_images {
  width: 100%;
  height: 350px;
}
.container {
    background-color: #F6F6F6 !important;
}
